<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ABOUT US:</h1>
    <p>We are all very different. We were born in different cities, at different times, we love different music, food, movies. 
        But we have something that unites us all. It is our love towards code. We are its heart. We are not just a team, we are a family.
    We provide you will all the knowledege required to work in industry</p>
</body>
</html>